STM32CubeMonitor/H08R6x.json
[{"id":"8381c865.236028","type":"subflow","name":"Single value","info":"The 'single value' subflow allows to :\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on [Node-Red][nr]\r\n[nr]: https://nodered.org/docs/user-guide/editor/workspace/subflows\r\n\r\n\r\n-------\r\n\r\n","category":"","in":[{"x":40,"y":60,"wires":[{"id":"3c5ffe0d.9063b2"}]}],"out":[{"x":780,"y":140,"wires":[{"id":"66397fd3.d8111","port":0}]}],"env":[{"name":"varfilter","type":"str","value":""}],"color":"#DDAA99"},{"id":"3c5ffe0d.9063b2","type":"switch","z":"8381c865.236028","name":"filter variable","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"varfilter","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":60,"wires":[["4e5ba7a5.14dec8"]]},{"id":"4e5ba7a5.14dec8","type":"change","z":"8381c865.236028","name":"keep only table of duplets","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.variabledata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["42bc6ed.5b20d9"]]},{"id":"42bc6ed.5b20d9","type":"split","z":"8381c865.236028","name":"Split a table[1..n] of duplets in n msg of single duplet","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":60,"wires":[["8b8ddb84.6fb208"]]},{"id":"8b8ddb84.6fb208","type":"delay","z":"8381c865.236028","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":140,"wires":[["66397fd3.d8111"]]},{"id":"66397fd3.d8111","type":"change","z":"8381c865.236028","name":"keep only value and delete timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[[]]},{"id":"6af3d1e9.a55b5","type":"tab","label":"IR sensor","disabled":false,"info":"# Advanced Flow of STM32CubeMonitor to highlight possibilities"},{"id":"1776ee41.d40c52","type":"acquisition out","z":"6af3d1e9.a55b5","name":"myProbe_Out","probeconfig":"d9a6039e.00014","x":500,"y":80,"wires":[]},{"id":"2ab3ffbf.d860c","type":"acquisition out","z":"6af3d1e9.a55b5","name":"myProbe_Out2","probeconfig":"d9a6039e.00014","x":740,"y":420,"wires":[]},{"id":"d0f55937.d2ab48","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"11f8a024.a0da8","order":2,"width":5,"height":1,"passthru":false,"label":"CONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":170,"y":80,"wires":[["354725b3.9ae62a"]]},{"id":"a5517828.c10418","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"11f8a024.a0da8","order":3,"width":5,"height":1,"passthru":false,"label":"DISCONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":180,"y":120,"wires":[["354725b3.9ae62a"]]},{"id":"97b1bbd0.c764f8","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"11f8a024.a0da8","order":4,"width":0,"height":0,"passthru":false,"label":"Unit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"=342(units ","payloadType":"str","topic":"","x":150,"y":180,"wires":[["7d5729ce.13ca38"]]},{"id":"8ae17f8f.b449b","type":"ui_dropdown","z":"6af3d1e9.a55b5","name":"","label":"Unit","tooltip":"","place":"Select option","group":"11f8a024.a0da8","order":5,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"mm","value":"mm","type":"str"},{"label":"cm","value":"cm","type":"str"},{"label":"inch","value":"inch","type":"str"}],"payload":"","topic":"","x":150,"y":220,"wires":[["9d4c6f52.9dbbd"]]},{"id":"5ae94e90.181f6","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"11f8a024.a0da8","order":6,"width":4,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":340,"wires":[["7a726bca.dd89c4"]]},{"id":"a3de5b5.613b5a8","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"add14ae6.4c3668","order":3,"width":3,"height":1,"passthru":false,"label":"STOP STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":180,"y":460,"wires":[["7a726bca.dd89c4"]]},{"id":"a69293ec.e58ee","type":"template","z":"6af3d1e9.a55b5","name":"time address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000000\",\n\n           \"type\": 5,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":350,"y":500,"wires":[["9e8108f3.e07e98"]]},{"id":"d70ff04c.5f89a","type":"ui_text_input","z":"6af3d1e9.a55b5","name":"","label":"Sampling Time","tooltip":"using with continuous run mode","group":"add14ae6.4c3668","order":1,"width":4,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":180,"y":500,"wires":[["a69293ec.e58ee"]]},{"id":"8786100e.98697","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"6432f173.e0663","order":1,"width":10,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":380,"wires":[["7a726bca.dd89c4"]]},{"id":"206c78e2.aaf508","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"add14ae6.4c3668","order":2,"width":3,"height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":190,"y":420,"wires":[["7a726bca.dd89c4"]]},{"id":"7b0ab7ba.460e98","type":"function","z":"6af3d1e9.a55b5","name":"","func":"m = msg.payload\no = m.charCodeAt(0);\n\nreturn {payload:o}","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["4e239a8a.12b084"]]},{"id":"dbe9b501.42c628","type":"split","z":"6af3d1e9.a55b5","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":470,"y":180,"wires":[["7b0ab7ba.460e98"]]},{"id":"4e239a8a.12b084","type":"template","z":"6af3d1e9.a55b5","name":"currentCharacter address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000005\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":770,"y":180,"wires":[["9e8108f3.e07e98"]]},{"id":"7a726bca.dd89c4","type":"template","z":"6af3d1e9.a55b5","name":"flag address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000004\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":430,"y":420,"wires":[["9e8108f3.e07e98"]]},{"id":"9d4c6f52.9dbbd","type":"function","z":"6af3d1e9.a55b5","name":"","func":"var s=\"#3\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["dbe9b501.42c628"]]},{"id":"9e8108f3.e07e98","type":"change","z":"6af3d1e9.a55b5","name":"msg 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":380,"wires":[["2ab3ffbf.d860c"]]},{"id":"4c0ea4a0.3b774c","type":"acquisition in","z":"6af3d1e9.a55b5","name":"myProbe_In2","probeconfig":"d9a6039e.00014","x":170,"y":580,"wires":[["9227a281.bea7d"],[]]},{"id":"9227a281.bea7d","type":"processing","z":"6af3d1e9.a55b5","groupname":"IR Read1","groupid":"354725b3.9ae62a","expressions":[],"statistics":[],"logmode":"no","x":320,"y":580,"wires":[["1f433383.b5721c","a9affca8.d4ccf"],[]]},{"id":"1f433383.b5721c","type":"subflow:8381c865.236028","z":"6af3d1e9.a55b5","name":"myFilter","env":[{"name":"varfilter","value":"h08r6_range","type":"str"}],"x":480,"y":580,"wires":[["2300a15d.a5ed2e"]]},{"id":"2300a15d.a5ed2e","type":"function","z":"6af3d1e9.a55b5","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)\nvar out=s;\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":580,"wires":[["3dc8171a.a08738"]]},{"id":"3dc8171a.a08738","type":"ui_text","z":"6af3d1e9.a55b5","group":"13491a58.b7fb96","order":1,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":580,"wires":[]},{"id":"b62f0633.caf008","type":"function","z":"6af3d1e9.a55b5","name":"","func":"if (msg.payload == \"=432(sample()\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"IR_sensor_Stream\"],\"show\":[\"IR_sensor_Sample\"]}};\n    return msg;\n}\n\nif (msg.payload == \"2\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"IR_sensor_Sample\"],\"show\":[\"IR_sensor_Stream\"]}};\n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["d4a210e.4da1cf"]]},{"id":"d4a210e.4da1cf","type":"ui_ui_control","z":"6af3d1e9.a55b5","name":"","events":"connect","x":480,"y":300,"wires":[[]]},{"id":"1de58108.54775f","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"11f8a024.a0da8","order":7,"width":5,"height":1,"passthru":false,"label":"Sample","tooltip":"","color":"","bgcolor":"","icon":"","payload":"=432(sample()","payloadType":"str","topic":"","x":160,"y":260,"wires":[["b62f0633.caf008","757fe5fd.77577c"]]},{"id":"9399184a.cf25a8","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"11f8a024.a0da8","order":8,"width":5,"height":1,"passthru":false,"label":"Stream (Optional)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":190,"y":300,"wires":[["b62f0633.caf008"]]},{"id":"3de16805.05e428","type":"ui_chartst","z":"6af3d1e9.a55b5","group":"13491a58.b7fb96","name":"Distance","order":2,"width":10,"height":9,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":660,"y":620,"wires":[]},{"id":"c071d42e.743388","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"13491a58.b7fb96","order":3,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPHS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":630,"y":660,"wires":[["3de16805.05e428"]]},{"id":"a9affca8.d4ccf","type":"switch","z":"6af3d1e9.a55b5","name":"h08r6_range","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"h08r6_range","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":620,"wires":[["3de16805.05e428"]]},{"id":"354725b3.9ae62a","type":"variables","z":"6af3d1e9.a55b5","groupname":"IR Read1","accesspoint":0,"execonfig":"da37901b.58c5b","variablelist":[{"name":"sample","address":"0x20000008","type":"9"}],"triggerstartmode":"manual","triggername":"h08r6_range","triggerthreshold":"","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":1633037981613,"openStatus":false,"x":340,"y":80,"wires":[["1776ee41.d40c52"]]},{"id":"7d5729ce.13ca38","type":"function","z":"6af3d1e9.a55b5","name":"","func":"var s=msg.payload;\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["dbe9b501.42c628"]]},{"id":"757fe5fd.77577c","type":"function","z":"6af3d1e9.a55b5","name":"","func":"var s=msg.payload;\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["dbe9b501.42c628"]]},{"id":"8f9291a5.3b359","type":"ui_button","z":"6af3d1e9.a55b5","name":"","group":"11f8a024.a0da8","order":1,"width":10,"height":1,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":160,"y":540,"wires":[["a69293ec.e58ee"]]},{"id":"d9a6039e.00014","type":"probe","z":"","probeid":"066CFF495051717867163114","probename":"ST-Link v2-1B (...63114)","protocol":"SWD","frequency":"1.8 MHz - Default","probeproperty":"{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}","probeversion":"ST Link firmware version V2.J37","connectionType":"p2p"},{"id":"11f8a024.a0da8","type":"ui_group","z":"","name":"IR sensor","tab":"54f270da.54e78","order":2,"disp":true,"width":"10","collapse":false},{"id":"add14ae6.4c3668","type":"ui_group","z":"","name":"Stream","tab":"54f270da.54e78","order":4,"disp":true,"width":"10","collapse":false},{"id":"6432f173.e0663","type":"ui_group","z":"","name":"Sample","tab":"54f270da.54e78","order":3,"disp":true,"width":"10","collapse":false},{"id":"13491a58.b7fb96","type":"ui_group","z":"","name":"Distance","tab":"54f270da.54e78","order":1,"disp":true,"width":10,"collapse":false},{"id":"da37901b.58c5b","type":"exe-config","z":"","name":"IR","exefile":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H08R6x\\STM32CubeIDE\\H08R6x\\H08R6x.elf","exefolder":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H08R6x\\STM32CubeIDE\\H08R6x","exevariablelist":[{"address":"0x0801c970","name":"aAPBAHBPrescTable[0]","type":1},{"address":"0x20001d34","name":"acceptedMsg","type":3},{"address":"0x20001445","name":"ACK_FLAG","type":1},{"address":"0x0801c508","name":"actSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c4fc","name":"actSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801c500","name":"actSnipCommandDefinition.pcHelpString","type":5},{"address":"0x0801c504","name":"actSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001cdc","name":"ADC_flag","type":1},{"address":"0x20001cec","name":"ADC_value_temp","type":3},{"address":"0x20001cee","name":"ADC_value_Vref","type":3},{"address":"0x20001d00","name":"ADCchannelvalue[0]","type":3},{"address":"0x20001df4","name":"ADCPercentage","type":9},{"address":"0x20001de4","name":"ADCPort","type":3},{"address":"0x0801c568","name":"ADCReadCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c55c","name":"ADCReadCommandDefinition.pcCommand","type":5},{"address":"0x0801c560","name":"ADCReadCommandDefinition.pcHelpString","type":5},{"address":"0x0801c564","name":"ADCReadCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001de6","name":"ADCSide","type":3},{"address":"0x20001de8","name":"ADCValue","type":9},{"address":"0x20001410","name":"AddBcastPayload","type":1},{"address":"0x0801c448","name":"addbuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c43c","name":"addbuttonCommandDefinition.pcCommand","type":5},{"address":"0x0801c440","name":"addbuttonCommandDefinition.pcHelpString","type":5},{"address":"0x0801c444","name":"addbuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200000ac","name":"AHBPrescTable[0]","type":1},{"address":"0x20007868","name":"arrayPortsDir[0]","type":3},{"address":"0x20001adc","name":"BackEndTaskHandle","type":5},{"address":"0x20000f10","name":"bcastID","type":1},{"address":"0x20000e34","name":"bcastRoutes[0]","type":3},{"address":"0x0801c3c8","name":"bootloaderUpdateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c3bc","name":"bootloaderUpdateCommandDefinition.pcCommand","type":5},{"address":"0x0801c3c0","name":"bootloaderUpdateCommandDefinition.pcHelpString","type":5},{"address":"0x0801c3c4","name":"bootloaderUpdateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20002338","name":"bootStatus","type":1},{"address":"0x20007220","name":"BOS.buttons.debounce","type":3},{"address":"0x20007225","name":"BOS.buttons.maxInterClickTime","type":1},{"address":"0x20007224","name":"BOS.buttons.minInterClickTime","type":1},{"address":"0x20007222","name":"BOS.buttons.singleClickTime","type":3},{"address":"0x20007228","name":"BOS.clibaudrate","type":5},{"address":"0x20007235","name":"BOS.date.day","type":1},{"address":"0x20007236","name":"BOS.date.month","type":1},{"address":"0x20007234","name":"BOS.date.weekday","type":1},{"address":"0x20007238","name":"BOS.date.year","type":3},{"address":"0x2000722c","name":"BOS.daylightsaving","type":1},{"address":"0x2000723a","name":"BOS.disableCLI","type":1},{"address":"0x2000722d","name":"BOS.hourformat","type":1},{"address":"0x20007233","name":"BOS.time.ampm","type":1},{"address":"0x20007232","name":"BOS.time.hours","type":1},{"address":"0x20007231","name":"BOS.time.minutes","type":1},{"address":"0x2000722e","name":"BOS.time.msec","type":3},{"address":"0x20007230","name":"BOS.time.seconds","type":1},{"address":"0x2000001c","name":"BOS_default.buttons.debounce","type":3},{"address":"0x20000021","name":"BOS_default.buttons.maxInterClickTime","type":1},{"address":"0x20000020","name":"BOS_default.buttons.minInterClickTime","type":1},{"address":"0x2000001e","name":"BOS_default.buttons.singleClickTime","type":3},{"address":"0x20000024","name":"BOS_default.clibaudrate","type":5},{"address":"0x20000031","name":"BOS_default.date.day","type":1},{"address":"0x20000032","name":"BOS_default.date.month","type":1},{"address":"0x20000030","name":"BOS_default.date.weekday","type":1},{"address":"0x20000034","name":"BOS_default.date.year","type":3},{"address":"0x20000028","name":"BOS_default.daylightsaving","type":1},{"address":"0x20000036","name":"BOS_default.disableCLI","type":1},{"address":"0x20000029","name":"BOS_default.hourformat","type":1},{"address":"0x2000002f","name":"BOS_default.time.ampm","type":1},{"address":"0x2000002e","name":"BOS_default.time.hours","type":1},{"address":"0x2000002d","name":"BOS_default.time.minutes","type":1},{"address":"0x2000002a","name":"BOS_default.time.msec","type":3},{"address":"0x2000002c","name":"BOS_default.time.seconds","type":1},{"address":"0x20000f05","name":"BOS_initialized","type":1},{"address":"0x200071a8","name":"BOS_var_reg[0]","type":5},{"address":"0x200071a4","name":"BOSMessaging.Acknowledgment","type":1},{"address":"0x200071a2","name":"BOSMessaging.overrun","type":1},{"address":"0x200071a3","name":"BOSMessaging.received_Acknowledgment","type":1},{"address":"0x200071a0","name":"BOSMessaging.response","type":1},{"address":"0x200071a1","name":"BOSMessaging.trace","type":2},{"address":"0x200071a6","name":"BOSMessaging.trial","type":4},{"address":"0x20000018","name":"BOSMessging_default.Acknowledgment","type":1},{"address":"0x20000016","name":"BOSMessging_default.overrun","type":1},{"address":"0x20000017","name":"BOSMessging_default.received_Acknowledgment","type":1},{"address":"0x20000014","name":"BOSMessging_default.response","type":1},{"address":"0x20000015","name":"BOSMessging_default.trace","type":2},{"address":"0x2000001a","name":"BOSMessging_default.trial","type":4},{"address":"0x0801c538","name":"bridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c52c","name":"bridgeCommandDefinition.pcCommand","type":5},{"address":"0x0801c530","name":"bridgeCommandDefinition.pcHelpString","type":5},{"address":"0x0801c534","name":"bridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200010a8","name":"broadcastResponse[0]","type":1},{"address":"0x20001c6c","name":"button[0].events","type":1},{"address":"0x20001c66","name":"button[0].pressedX1Sec","type":1},{"address":"0x20001c67","name":"button[0].pressedX2Sec","type":1},{"address":"0x20001c68","name":"button[0].pressedX3Sec","type":1},{"address":"0x20001c69","name":"button[0].releasedY1Sec","type":1},{"address":"0x20001c6a","name":"button[0].releasedY2Sec","type":1},{"address":"0x20001c6b","name":"button[0].releasedY3Sec","type":1},{"address":"0x20001c64","name":"button[0].state","type":1},{"address":"0x20001c65","name":"button[0].type","type":1},{"address":"0x20001cf0","name":"Channel","type":1},{"address":"0x20000e02","name":"CLI_LOW_Baudrate_Flag","type":1},{"address":"0x200072c2","name":"counter","type":1},{"address":"0x2000234c","name":"cOutputBuffer[0]","type":2},{"address":"0x2000161c","name":"crcBuffer[0]","type":1},{"address":"0x20000f15","name":"cRxedChar","type":2},{"address":"0x20001cf8","name":"current","type":9},{"address":"0x20000005","name":"currentCharacter","type":1},{"address":"0x20001ad4","name":"DataVar","type":3},{"address":"0x0801c4a8","name":"dateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c49c","name":"dateCommandDefinition.pcCommand","type":5},{"address":"0x0801c4a0","name":"dateCommandDefinition.pcHelpString","type":5},{"address":"0x0801c4a4","name":"dateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001d0c","name":"dblCounter[0]","type":1},{"address":"0x0801c488","name":"defaultCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c47c","name":"defaultCommandDefinition.pcCommand","type":5},{"address":"0x0801c480","name":"defaultCommandDefinition.pcHelpString","type":5},{"address":"0x0801c484","name":"defaultCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001ad8","name":"defaultTaskHandle","type":5},{"address":"0x2000028c","name":"DefaultTuningSettings[0]","type":1},{"address":"0x20001d08","name":"delayButtonStateReset","type":1},{"address":"0x0801c528","name":"delSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c51c","name":"delSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801c520","name":"delSnipCommandDefinition.pcHelpString","type":5},{"address":"0x0801c524","name":"delSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c8ac","name":"demoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c8a0","name":"demoCommandDefinition.pcCommand","type":5},{"address":"0x0801c8a4","name":"demoCommandDefinition.pcHelpString","type":5},{"address":"0x0801c8a8","name":"demoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200072e3","name":"desiredArray","type":1},{"address":"0x200072e2","name":"digitTheCommand","type":1},{"address":"0x200015c4","name":"dmaStreamCount[0]","type":5},{"address":"0x200015f4","name":"dmaStreamDst[0]","type":5},{"address":"0x200015dc","name":"dmaStreamTotal[0]","type":5},{"address":"0x20000058","name":"dstGroupID","type":1},{"address":"0x0801c3d8","name":"exploreCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c3cc","name":"exploreCommandDefinition.pcCommand","type":5},{"address":"0x0801c3d0","name":"exploreCommandDefinition.pcHelpString","type":5},{"address":"0x0801c3d4","name":"exploreCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001ba4","name":"finalMatrix[0]","type":1},{"address":"0x200072e4","name":"finalMatrixIndex","type":1},{"address":"0x20000004","name":"flag","type":1},{"address":"0x0801c4e8","name":"flashsizeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c4dc","name":"flashsizeCommandDefinition.pcCommand","type":5},{"address":"0x0801c4e0","name":"flashsizeCommandDefinition.pcHelpString","type":5},{"address":"0x0801c4e4","name":"flashsizeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001f7c","name":"frontendDMA[0].ErrorCode","type":5},{"address":"0x20001f4c","name":"frontendDMA[0].Init.Direction","type":5},{"address":"0x20001f5c","name":"frontendDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001f54","name":"frontendDMA[0].Init.MemInc","type":5},{"address":"0x20001f60","name":"frontendDMA[0].Init.Mode","type":5},{"address":"0x20001f58","name":"frontendDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001f50","name":"frontendDMA[0].Init.PeriphInc","type":5},{"address":"0x20001f64","name":"frontendDMA[0].Init.Priority","type":5},{"address":"0x20001f48","name":"frontendDMA[0].Instance","type":5},{"address":"0x20001f68","name":"frontendDMA[0].Lock","type":2},{"address":"0x20001f6c","name":"frontendDMA[0].Parent","type":5},{"address":"0x20001f69","name":"frontendDMA[0].State","type":2},{"address":"0x20001f70","name":"frontendDMA[0].XferCpltCallback","type":5},{"address":"0x20001f78","name":"frontendDMA[0].XferErrorCallback","type":5},{"address":"0x20001f74","name":"frontendDMA[0].XferHalfCpltCallback","type":5},{"address":"0x0801c478","name":"getCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c46c","name":"getCommandDefinition.pcCommand","type":5},{"address":"0x0801c470","name":"getCommandDefinition.pcHelpString","type":5},{"address":"0x0801c474","name":"getCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c598","name":"GetReadPercentageDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c58c","name":"GetReadPercentageDefinition.pcCommand","type":5},{"address":"0x0801c590","name":"GetReadPercentageDefinition.pcHelpString","type":5},{"address":"0x0801c594","name":"GetReadPercentageDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c408","name":"groupCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c3fc","name":"groupCommandDefinition.pcCommand","type":5},{"address":"0x0801c400","name":"groupCommandDefinition.pcHelpString","type":5},{"address":"0x0801c404","name":"groupCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000d64","name":"groupModules[0]","type":3},{"address":"0x20001f18","name":"h08r6_range","type":9},{"address":"0x20001f38","name":"h08r6BufStreamMem","type":9},{"address":"0x2000009c","name":"h08r6MaxRange","type":9},{"address":"0x20001f3c","name":"h08r6MinRange","type":9},{"address":"0x20001f40","name":"h08r6StatesVl53l0x","type":1},{"address":"0x20001f24","name":"h08r6UnitMeasurement","type":1},{"address":"0x20007324","name":"hadc.DMA_Handle","type":5},{"address":"0x20007330","name":"hadc.ErrorCode","type":5},{"address":"0x200072ec","name":"hadc.Init.ClockPrescaler","type":5},{"address":"0x20007308","name":"hadc.Init.ContinuousConvMode","type":5},{"address":"0x200072f4","name":"hadc.Init.DataAlign","type":5},{"address":"0x2000730c","name":"hadc.Init.DiscontinuousConvMode","type":5},{"address":"0x20007318","name":"hadc.Init.DMAContinuousRequests","type":5},{"address":"0x200072fc","name":"hadc.Init.EOCSelection","type":5},{"address":"0x20007310","name":"hadc.Init.ExternalTrigConv","type":5},{"address":"0x20007314","name":"hadc.Init.ExternalTrigConvEdge","type":5},{"address":"0x20007304","name":"hadc.Init.LowPowerAutoPowerOff","type":5},{"address":"0x20007300","name":"hadc.Init.LowPowerAutoWait","type":5},{"address":"0x2000731c","name":"hadc.Init.Overrun","type":5},{"address":"0x200072f0","name":"hadc.Init.Resolution","type":5},{"address":"0x20007320","name":"hadc.Init.SamplingTimeCommon","type":5},{"address":"0x200072f8","name":"hadc.Init.ScanConvMode","type":5},{"address":"0x200072e8","name":"hadc.Instance","type":5},{"address":"0x20007328","name":"hadc.Lock","type":2},{"address":"0x2000732c","name":"hadc.State","type":5},{"address":"0x20001f30","name":"handleNewReadyData","type":5},{"address":"0x2000777c","name":"hcrc.Init.CRCLength","type":5},{"address":"0x20007775","name":"hcrc.Init.DefaultInitValueUse","type":1},{"address":"0x20007774","name":"hcrc.Init.DefaultPolynomialUse","type":1},{"address":"0x20007778","name":"hcrc.Init.GeneratingPolynomial","type":5},{"address":"0x20007780","name":"hcrc.Init.InitValue","type":5},{"address":"0x20007784","name":"hcrc.Init.InputDataInversionMode","type":5},{"address":"0x20007788","name":"hcrc.Init.OutputDataInversionMode","type":5},{"address":"0x20007790","name":"hcrc.InputDataFormat","type":5},{"address":"0x20007770","name":"hcrc.Instance","type":5},{"address":"0x2000778c","name":"hcrc.Lock","type":2},{"address":"0x2000778d","name":"hcrc.State","type":2},{"address":"0x200077cc","name":"hi2c2.ErrorCode","type":5},{"address":"0x200077c4","name":"hi2c2.hdmarx","type":5},{"address":"0x200077c0","name":"hi2c2.hdmatx","type":5},{"address":"0x200077a0","name":"hi2c2.Init.AddressingMode","type":5},{"address":"0x200077a4","name":"hi2c2.Init.DualAddressMode","type":5},{"address":"0x200077b0","name":"hi2c2.Init.GeneralCallMode","type":5},{"address":"0x200077b4","name":"hi2c2.Init.NoStretchMode","type":5},{"address":"0x2000779c","name":"hi2c2.Init.OwnAddress1","type":5},{"address":"0x200077a8","name":"hi2c2.Init.OwnAddress2","type":5},{"address":"0x200077ac","name":"hi2c2.Init.OwnAddress2Masks","type":5},{"address":"0x20007798","name":"hi2c2.Init.Timing","type":5},{"address":"0x20007794","name":"hi2c2.Instance","type":5},{"address":"0x200077c8","name":"hi2c2.Lock","type":2},{"address":"0x200077b8","name":"hi2c2.pBuffPtr","type":5},{"address":"0x200077c9","name":"hi2c2.State","type":2},{"address":"0x200077be","name":"hi2c2.XferCount","type":3},{"address":"0x200077bc","name":"hi2c2.XferSize","type":3},{"address":"0x20007844","name":"htim14.Channel","type":2},{"address":"0x20007848","name":"htim14.hdma[0]","type":5},{"address":"0x2000783c","name":"htim14.Init.ClockDivision","type":5},{"address":"0x20007834","name":"htim14.Init.CounterMode","type":5},{"address":"0x20007838","name":"htim14.Init.Period","type":5},{"address":"0x20007830","name":"htim14.Init.Prescaler","type":5},{"address":"0x20007840","name":"htim14.Init.RepetitionCounter","type":5},{"address":"0x2000782c","name":"htim14.Instance","type":5},{"address":"0x20007864","name":"htim14.Lock","type":2},{"address":"0x20007865","name":"htim14.State","type":2},{"address":"0x20007808","name":"htim15.Channel","type":2},{"address":"0x2000780c","name":"htim15.hdma[0]","type":5},{"address":"0x20007800","name":"htim15.Init.ClockDivision","type":5},{"address":"0x200077f8","name":"htim15.Init.CounterMode","type":5},{"address":"0x200077fc","name":"htim15.Init.Period","type":5},{"address":"0x200077f4","name":"htim15.Init.Prescaler","type":5},{"address":"0x20007804","name":"htim15.Init.RepetitionCounter","type":5},{"address":"0x200077f0","name":"htim15.Instance","type":5},{"address":"0x20007828","name":"htim15.Lock","type":2},{"address":"0x20007829","name":"htim15.State","type":2},{"address":"0x20007464","name":"huart1.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007480","name":"huart1.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007484","name":"huart1.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007470","name":"huart1.AdvancedInit.DataInvert","type":5},{"address":"0x2000747c","name":"huart1.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007488","name":"huart1.AdvancedInit.MSBFirst","type":5},{"address":"0x20007478","name":"huart1.AdvancedInit.OverrunDisable","type":5},{"address":"0x2000746c","name":"huart1.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20007474","name":"huart1.AdvancedInit.Swap","type":5},{"address":"0x20007468","name":"huart1.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200074ac","name":"huart1.ErrorCode","type":5},{"address":"0x200074a4","name":"huart1.hdmarx","type":5},{"address":"0x200074a0","name":"huart1.hdmatx","type":5},{"address":"0x20007444","name":"huart1.Init.BaudRate","type":5},{"address":"0x20007458","name":"huart1.Init.HwFlowCtl","type":5},{"address":"0x20007454","name":"huart1.Init.Mode","type":5},{"address":"0x20007460","name":"huart1.Init.OneBitSampling","type":5},{"address":"0x2000745c","name":"huart1.Init.OverSampling","type":5},{"address":"0x20007450","name":"huart1.Init.Parity","type":5},{"address":"0x2000744c","name":"huart1.Init.StopBits","type":5},{"address":"0x20007448","name":"huart1.Init.WordLength","type":5},{"address":"0x20007440","name":"huart1.Instance","type":5},{"address":"0x200074a8","name":"huart1.Lock","type":2},{"address":"0x2000749c","name":"huart1.Mask","type":3},{"address":"0x20007494","name":"huart1.pRxBuffPtr","type":5},{"address":"0x2000748c","name":"huart1.pTxBuffPtr","type":5},{"address":"0x2000749a","name":"huart1.RxXferCount","type":3},{"address":"0x20007498","name":"huart1.RxXferSize","type":3},{"address":"0x200074a9","name":"huart1.State","type":2},{"address":"0x20007492","name":"huart1.TxXferCount","type":3},{"address":"0x20007490","name":"huart1.TxXferSize","type":3},{"address":"0x200075bc","name":"huart2.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200075d8","name":"huart2.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200075dc","name":"huart2.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200075c8","name":"huart2.AdvancedInit.DataInvert","type":5},{"address":"0x200075d4","name":"huart2.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200075e0","name":"huart2.AdvancedInit.MSBFirst","type":5},{"address":"0x200075d0","name":"huart2.AdvancedInit.OverrunDisable","type":5},{"address":"0x200075c4","name":"huart2.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200075cc","name":"huart2.AdvancedInit.Swap","type":5},{"address":"0x200075c0","name":"huart2.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007604","name":"huart2.ErrorCode","type":5},{"address":"0x200075fc","name":"huart2.hdmarx","type":5},{"address":"0x200075f8","name":"huart2.hdmatx","type":5},{"address":"0x2000759c","name":"huart2.Init.BaudRate","type":5},{"address":"0x200075b0","name":"huart2.Init.HwFlowCtl","type":5},{"address":"0x200075ac","name":"huart2.Init.Mode","type":5},{"address":"0x200075b8","name":"huart2.Init.OneBitSampling","type":5},{"address":"0x200075b4","name":"huart2.Init.OverSampling","type":5},{"address":"0x200075a8","name":"huart2.Init.Parity","type":5},{"address":"0x200075a4","name":"huart2.Init.StopBits","type":5},{"address":"0x200075a0","name":"huart2.Init.WordLength","type":5},{"address":"0x20007598","name":"huart2.Instance","type":5},{"address":"0x20007600","name":"huart2.Lock","type":2},{"address":"0x200075f4","name":"huart2.Mask","type":3},{"address":"0x200075ec","name":"huart2.pRxBuffPtr","type":5},{"address":"0x200075e4","name":"huart2.pTxBuffPtr","type":5},{"address":"0x200075f2","name":"huart2.RxXferCount","type":3},{"address":"0x200075f0","name":"huart2.RxXferSize","type":3},{"address":"0x20007601","name":"huart2.State","type":2},{"address":"0x200075ea","name":"huart2.TxXferCount","type":3},{"address":"0x200075e8","name":"huart2.TxXferSize","type":3},{"address":"0x2000737c","name":"huart3.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007398","name":"huart3.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x2000739c","name":"huart3.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007388","name":"huart3.AdvancedInit.DataInvert","type":5},{"address":"0x20007394","name":"huart3.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200073a0","name":"huart3.AdvancedInit.MSBFirst","type":5},{"address":"0x20007390","name":"huart3.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007384","name":"huart3.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x2000738c","name":"huart3.AdvancedInit.Swap","type":5},{"address":"0x20007380","name":"huart3.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200073c4","name":"huart3.ErrorCode","type":5},{"address":"0x200073bc","name":"huart3.hdmarx","type":5},{"address":"0x200073b8","name":"huart3.hdmatx","type":5},{"address":"0x2000735c","name":"huart3.Init.BaudRate","type":5},{"address":"0x20007370","name":"huart3.Init.HwFlowCtl","type":5},{"address":"0x2000736c","name":"huart3.Init.Mode","type":5},{"address":"0x20007378","name":"huart3.Init.OneBitSampling","type":5},{"address":"0x20007374","name":"huart3.Init.OverSampling","type":5},{"address":"0x20007368","name":"huart3.Init.Parity","type":5},{"address":"0x20007364","name":"huart3.Init.StopBits","type":5},{"address":"0x20007360","name":"huart3.Init.WordLength","type":5},{"address":"0x20007358","name":"huart3.Instance","type":5},{"address":"0x200073c0","name":"huart3.Lock","type":2},{"address":"0x200073b4","name":"huart3.Mask","type":3},{"address":"0x200073ac","name":"huart3.pRxBuffPtr","type":5},{"address":"0x200073a4","name":"huart3.pTxBuffPtr","type":5},{"address":"0x200073b2","name":"huart3.RxXferCount","type":3},{"address":"0x200073b0","name":"huart3.RxXferSize","type":3},{"address":"0x200073c1","name":"huart3.State","type":2},{"address":"0x200073aa","name":"huart3.TxXferCount","type":3},{"address":"0x200073a8","name":"huart3.TxXferSize","type":3},{"address":"0x2000754c","name":"huart4.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007568","name":"huart4.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x2000756c","name":"huart4.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007558","name":"huart4.AdvancedInit.DataInvert","type":5},{"address":"0x20007564","name":"huart4.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007570","name":"huart4.AdvancedInit.MSBFirst","type":5},{"address":"0x20007560","name":"huart4.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007554","name":"huart4.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x2000755c","name":"huart4.AdvancedInit.Swap","type":5},{"address":"0x20007550","name":"huart4.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007594","name":"huart4.ErrorCode","type":5},{"address":"0x2000758c","name":"huart4.hdmarx","type":5},{"address":"0x20007588","name":"huart4.hdmatx","type":5},{"address":"0x2000752c","name":"huart4.Init.BaudRate","type":5},{"address":"0x20007540","name":"huart4.Init.HwFlowCtl","type":5},{"address":"0x2000753c","name":"huart4.Init.Mode","type":5},{"address":"0x20007548","name":"huart4.Init.OneBitSampling","type":5},{"address":"0x20007544","name":"huart4.Init.OverSampling","type":5},{"address":"0x20007538","name":"huart4.Init.Parity","type":5},{"address":"0x20007534","name":"huart4.Init.StopBits","type":5},{"address":"0x20007530","name":"huart4.Init.WordLength","type":5},{"address":"0x20007528","name":"huart4.Instance","type":5},{"address":"0x20007590","name":"huart4.Lock","type":2},{"address":"0x20007584","name":"huart4.Mask","type":3},{"address":"0x2000757c","name":"huart4.pRxBuffPtr","type":5},{"address":"0x20007574","name":"huart4.pTxBuffPtr","type":5},{"address":"0x20007582","name":"huart4.RxXferCount","type":3},{"address":"0x20007580","name":"huart4.RxXferSize","type":3},{"address":"0x20007591","name":"huart4.State","type":2},{"address":"0x2000757a","name":"huart4.TxXferCount","type":3},{"address":"0x20007578","name":"huart4.TxXferSize","type":3},{"address":"0x200073f0","name":"huart5.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x2000740c","name":"huart5.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007410","name":"huart5.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200073fc","name":"huart5.AdvancedInit.DataInvert","type":5},{"address":"0x20007408","name":"huart5.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007414","name":"huart5.AdvancedInit.MSBFirst","type":5},{"address":"0x20007404","name":"huart5.AdvancedInit.OverrunDisable","type":5},{"address":"0x200073f8","name":"huart5.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20007400","name":"huart5.AdvancedInit.Swap","type":5},{"address":"0x200073f4","name":"huart5.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007438","name":"huart5.ErrorCode","type":5},{"address":"0x20007430","name":"huart5.hdmarx","type":5},{"address":"0x2000742c","name":"huart5.hdmatx","type":5},{"address":"0x200073d0","name":"huart5.Init.BaudRate","type":5},{"address":"0x200073e4","name":"huart5.Init.HwFlowCtl","type":5},{"address":"0x200073e0","name":"huart5.Init.Mode","type":5},{"address":"0x200073ec","name":"huart5.Init.OneBitSampling","type":5},{"address":"0x200073e8","name":"huart5.Init.OverSampling","type":5},{"address":"0x200073dc","name":"huart5.Init.Parity","type":5},{"address":"0x200073d8","name":"huart5.Init.StopBits","type":5},{"address":"0x200073d4","name":"huart5.Init.WordLength","type":5},{"address":"0x200073cc","name":"huart5.Instance","type":5},{"address":"0x20007434","name":"huart5.Lock","type":2},{"address":"0x20007428","name":"huart5.Mask","type":3},{"address":"0x20007420","name":"huart5.pRxBuffPtr","type":5},{"address":"0x20007418","name":"huart5.pTxBuffPtr","type":5},{"address":"0x20007426","name":"huart5.RxXferCount","type":3},{"address":"0x20007424","name":"huart5.RxXferSize","type":3},{"address":"0x20007435","name":"huart5.State","type":2},{"address":"0x2000741e","name":"huart5.TxXferCount","type":3},{"address":"0x2000741c","name":"huart5.TxXferSize","type":3},{"address":"0x200074d8","name":"huart6.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200074f4","name":"huart6.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200074f8","name":"huart6.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200074e4","name":"huart6.AdvancedInit.DataInvert","type":5},{"address":"0x200074f0","name":"huart6.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200074fc","name":"huart6.AdvancedInit.MSBFirst","type":5},{"address":"0x200074ec","name":"huart6.AdvancedInit.OverrunDisable","type":5},{"address":"0x200074e0","name":"huart6.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200074e8","name":"huart6.AdvancedInit.Swap","type":5},{"address":"0x200074dc","name":"huart6.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007520","name":"huart6.ErrorCode","type":5},{"address":"0x20007518","name":"huart6.hdmarx","type":5},{"address":"0x20007514","name":"huart6.hdmatx","type":5},{"address":"0x200074b8","name":"huart6.Init.BaudRate","type":5},{"address":"0x200074cc","name":"huart6.Init.HwFlowCtl","type":5},{"address":"0x200074c8","name":"huart6.Init.Mode","type":5},{"address":"0x200074d4","name":"huart6.Init.OneBitSampling","type":5},{"address":"0x200074d0","name":"huart6.Init.OverSampling","type":5},{"address":"0x200074c4","name":"huart6.Init.Parity","type":5},{"address":"0x200074c0","name":"huart6.Init.StopBits","type":5},{"address":"0x200074bc","name":"huart6.Init.WordLength","type":5},{"address":"0x200074b4","name":"huart6.Instance","type":5},{"address":"0x2000751c","name":"huart6.Lock","type":2},{"address":"0x20007510","name":"huart6.Mask","type":3},{"address":"0x20007508","name":"huart6.pRxBuffPtr","type":5},{"address":"0x20007500","name":"huart6.pTxBuffPtr","type":5},{"address":"0x2000750e","name":"huart6.RxXferCount","type":3},{"address":"0x2000750c","name":"huart6.RxXferSize","type":3},{"address":"0x2000751d","name":"huart6.State","type":2},{"address":"0x20007506","name":"huart6.TxXferCount","type":3},{"address":"0x20007504","name":"huart6.TxXferSize","type":3},{"address":"0x0801c4d8","name":"idcodeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c4cc","name":"idcodeCommandDefinition.pcCommand","type":5},{"address":"0x0801c4d0","name":"idcodeCommandDefinition.pcHelpString","type":5},{"address":"0x0801c4d4","name":"idcodeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200072c3","name":"index","type":1},{"address":"0x20001446","name":"indMode","type":1},{"address":"0x0801c428","name":"infoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c41c","name":"infoCommandDefinition.pcCommand","type":5},{"address":"0x0801c420","name":"infoCommandDefinition.pcHelpString","type":5},{"address":"0x0801c424","name":"infoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001df0","name":"InternalTemperature","type":9},{"address":"0x20001dec","name":"InternalVoltageReferance","type":9},{"address":"0x200000d4","name":"InterruptThresholdSettings[0]","type":1},{"address":"0x20000f14","name":"longMessage","type":1},{"address":"0x20000f12","name":"longMessageLastPtr","type":3},{"address":"0x20001df8","name":"longMessageScratchpad[0]","type":1},{"address":"0x20001dc0","name":"MBmessageParams[0]","type":5},{"address":"0x20000f20","name":"message[0]","type":2},{"address":"0x20000f18","name":"messageLength[0]","type":1},{"address":"0x20000e04","name":"messageParams[0]","type":1},{"address":"0x200000a4","name":"modParam[0].paramFormat","type":2},{"address":"0x200000a8","name":"modParam[0].paramName","type":5},{"address":"0x200000a0","name":"modParam[0].paramPtr","type":5},{"address":"0x2000005c","name":"monthStringAbreviated[0]","type":5},{"address":"0x2000160c","name":"MsgDMAStopped[0]","type":1},{"address":"0x2000221c","name":"msgRxDMA[0].ErrorCode","type":5},{"address":"0x200021ec","name":"msgRxDMA[0].Init.Direction","type":5},{"address":"0x200021fc","name":"msgRxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x200021f4","name":"msgRxDMA[0].Init.MemInc","type":5},{"address":"0x20002200","name":"msgRxDMA[0].Init.Mode","type":5},{"address":"0x200021f8","name":"msgRxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x200021f0","name":"msgRxDMA[0].Init.PeriphInc","type":5},{"address":"0x20002204","name":"msgRxDMA[0].Init.Priority","type":5},{"address":"0x200021e8","name":"msgRxDMA[0].Instance","type":5},{"address":"0x20002208","name":"msgRxDMA[0].Lock","type":2},{"address":"0x2000220c","name":"msgRxDMA[0].Parent","type":5},{"address":"0x20002209","name":"msgRxDMA[0].State","type":2},{"address":"0x20002210","name":"msgRxDMA[0].XferCpltCallback","type":5},{"address":"0x20002218","name":"msgRxDMA[0].XferErrorCallback","type":5},{"address":"0x20002214","name":"msgRxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20002174","name":"msgTxDMA[0].ErrorCode","type":5},{"address":"0x20002144","name":"msgTxDMA[0].Init.Direction","type":5},{"address":"0x20002154","name":"msgTxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x2000214c","name":"msgTxDMA[0].Init.MemInc","type":5},{"address":"0x20002158","name":"msgTxDMA[0].Init.Mode","type":5},{"address":"0x20002150","name":"msgTxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20002148","name":"msgTxDMA[0].Init.PeriphInc","type":5},{"address":"0x2000215c","name":"msgTxDMA[0].Init.Priority","type":5},{"address":"0x20002140","name":"msgTxDMA[0].Instance","type":5},{"address":"0x20002160","name":"msgTxDMA[0].Lock","type":2},{"address":"0x20002164","name":"msgTxDMA[0].Parent","type":5},{"address":"0x20002161","name":"msgTxDMA[0].State","type":2},{"address":"0x20002168","name":"msgTxDMA[0].XferCpltCallback","type":5},{"address":"0x20002170","name":"msgTxDMA[0].XferErrorCallback","type":5},{"address":"0x2000216c","name":"msgTxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20000d60","name":"myID","type":1},{"address":"0x20000038","name":"myPN","type":3},{"address":"0x20000010","name":"N","type":1},{"address":"0x0801c3f8","name":"nameCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c3ec","name":"nameCommandDefinition.pcCommand","type":5},{"address":"0x0801c3f0","name":"nameCommandDefinition.pcHelpString","type":5},{"address":"0x0801c3f4","name":"nameCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001d14","name":"needToDelayButtonStateReset","type":1},{"address":"0x20001b00","name":"nonProcessingParameter[0]","type":1},{"address":"0x200072c1","name":"nonProcessingParameterIndex","type":1},{"address":"0x200072e0","name":"numCommandParameters","type":1},{"address":"0x2000719c","name":"numOfBosCommands","type":1},{"address":"0x20001448","name":"numOfRecordedSnippets","type":1},{"address":"0x20001f44","name":"offsetCalibration","type":6},{"address":"0x20001ae8","name":"P1MsgTaskHandle","type":5},{"address":"0x20001aec","name":"P2MsgTaskHandle","type":5},{"address":"0x20001af0","name":"P3MsgTaskHandle","type":5},{"address":"0x20001af4","name":"P4MsgTaskHandle","type":5},{"address":"0x20001af8","name":"P5MsgTaskHandle","type":5},{"address":"0x20001afc","name":"P6MsgTaskHandle","type":5},{"address":"0x20001d30","name":"packetEnd","type":6},{"address":"0x20001d28","name":"packetLength","type":6},{"address":"0x20001d24","name":"packetStart","type":6},{"address":"0x20001d2c","name":"parseStart","type":6},{"address":"0x0801c518","name":"pauseSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c50c","name":"pauseSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801c510","name":"pauseSnipCommandDefinition.pcHelpString","type":5},{"address":"0x0801c514","name":"pauseSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000008c","name":"pcBootloaderUpdateMessage","type":5},{"address":"0x00000000","name":"pcEndOfCommandOutputString","type":5},{"address":"0x00000000","name":"pcNewLine","type":5},{"address":"0x2000003c","name":"pcParamsHelpString[0]","type":5},{"address":"0x20000ef0","name":"PcPort","type":1},{"address":"0x20000098","name":"pcRemoteBootloaderUpdateMessage","type":5},{"address":"0x20000094","name":"pcRemoteBootloaderUpdateViaPortMessage","type":5},{"address":"0x20000090","name":"pcRemoteBootloaderUpdateWarningMessage","type":5},{"address":"0x20000ea0","name":"pcUserMessage[0]","type":2},{"address":"0x00000000","name":"pcWelcomeMessage","type":5},{"address":"0x20001480","name":"pcWelcomePortMessage[0]","type":2},{"address":"0x20001cf4","name":"percentage","type":9},{"address":"0x200072a0","name":"perviousCharacter","type":1},{"address":"0x200078e8","name":"pFlash.Address","type":5},{"address":"0x200078e4","name":"pFlash.DataRemaining","type":5},{"address":"0x200078fc","name":"pFlash.ErrorCode","type":5},{"address":"0x200078f8","name":"pFlash.Lock","type":2},{"address":"0x200078e0","name":"pFlash.ProcedureOnGoing","type":2},{"address":"0x0801c3b8","name":"pingCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c3ac","name":"pingCommandDefinition.pcCommand","type":5},{"address":"0x0801c3b0","name":"pingCommandDefinition.pcHelpString","type":5},{"address":"0x0801c3b4","name":"pingCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000ef4","name":"portStatus[0]","type":1},{"address":"0x20001ca4","name":"pressCounter[0]","type":5},{"address":"0x20001b14","name":"ProcessingParameter[0]","type":1},{"address":"0x200072c0","name":"processingParameterIndex","type":1},{"address":"0x0801c3a8","name":"prvRunTimeStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c39c","name":"prvRunTimeStatsCommandDefinition.pcCommand","type":5},{"address":"0x0801c3a0","name":"prvRunTimeStatsCommandDefinition.pcHelpString","type":5},{"address":"0x0801c3a4","name":"prvRunTimeStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c398","name":"prvTaskStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c38c","name":"prvTaskStatsCommandDefinition.pcCommand","type":5},{"address":"0x0801c390","name":"prvTaskStatsCommandDefinition.pcHelpString","type":5},{"address":"0x0801c394","name":"prvTaskStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20007004","name":"pxCurrentTCB","type":5},{"address":"0x20007154","name":"pxCurrentTimerList","type":5},{"address":"0x20007000","name":"pxDelayedTaskList","type":5},{"address":"0x200025b8","name":"pxEnd","type":5},{"address":"0x2000700c","name":"pxOverflowDelayedTaskList","type":5},{"address":"0x20007158","name":"pxOverflowTimerList","type":5},{"address":"0x200070a0","name":"pxReadyTasksLists[0].pxIndex","type":5},{"address":"0x2000709c","name":"pxReadyTasksLists[0].uxNumberOfItems","type":5},{"address":"0x200070a8","name":"pxReadyTasksLists[0].xListEnd.pxNext","type":5},{"address":"0x200070ac","name":"pxReadyTasksLists[0].xListEnd.pxPrevious","type":5},{"address":"0x200070a4","name":"pxReadyTasksLists[0].xListEnd.xItemValue","type":5},{"address":"0x200072c4","name":"PxRxSemaphoreHandle[0]","type":5},{"address":"0x200072a4","name":"PxTxSemaphoreHandle[0]","type":5},{"address":"0x0801c90c","name":"rangeModParamCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c900","name":"rangeModParamCommandDefinition.pcCommand","type":5},{"address":"0x0801c904","name":"rangeModParamCommandDefinition.pcHelpString","type":5},{"address":"0x0801c908","name":"rangeModParamCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001cfc","name":"Rank_t","type":1},{"address":"0x0801c578","name":"ReadTempDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c56c","name":"ReadTempDefinition.pcCommand","type":5},{"address":"0x0801c570","name":"ReadTempDefinition.pcHelpString","type":5},{"address":"0x0801c574","name":"ReadTempDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c588","name":"ReadVrefDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c57c","name":"ReadVrefDefinition.pcCommand","type":5},{"address":"0x0801c580","name":"ReadVrefDefinition.pcHelpString","type":5},{"address":"0x0801c584","name":"ReadVrefDefinition.pxCommandInterpreter","type":5},{"address":"0x20000380","name":"refArrayQuadrants[0]","type":5},{"address":"0x20001444","name":"rejected_FLAG","type":1},{"address":"0x20001d36","name":"rejectedMsg","type":3},{"address":"0x20001cc0","name":"releaseCounter[0]","type":5},{"address":"0x2000003a","name":"remoteVarFormat","type":2},{"address":"0x0801c458","name":"removebuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c44c","name":"removebuttonCommandDefinition.pcCommand","type":5},{"address":"0x0801c450","name":"removebuttonCommandDefinition.pcHelpString","type":5},{"address":"0x0801c454","name":"removebuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c3e8","name":"resetCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c3dc","name":"resetCommandDefinition.pcCommand","type":5},{"address":"0x0801c3e0","name":"resetCommandDefinition.pcHelpString","type":5},{"address":"0x0801c3e4","name":"resetCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000f04","name":"responseStatus","type":2},{"address":"0x20007334","name":"route[0]","type":1},{"address":"0x20000e68","name":"routeDist[0]","type":1},{"address":"0x20000e84","name":"routePrev[0]","type":1},{"address":"0x200077d8","name":"RtcHandle.Init.AsynchPrediv","type":5},{"address":"0x200077d4","name":"RtcHandle.Init.HourFormat","type":5},{"address":"0x200077e0","name":"RtcHandle.Init.OutPut","type":5},{"address":"0x200077e4","name":"RtcHandle.Init.OutPutPolarity","type":5},{"address":"0x200077e8","name":"RtcHandle.Init.OutPutType","type":5},{"address":"0x200077dc","name":"RtcHandle.Init.SynchPrediv","type":5},{"address":"0x200077d0","name":"RtcHandle.Instance","type":5},{"address":"0x200077ec","name":"RtcHandle.Lock","type":2},{"address":"0x200077ed","name":"RtcHandle.State","type":2},{"address":"0x20000008","name":"sample","type":9,"checked":false},{"address":"0x0801c438","name":"scastCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c42c","name":"scastCommandDefinition.pcCommand","type":5},{"address":"0x0801c430","name":"scastCommandDefinition.pcHelpString","type":5},{"address":"0x0801c434","name":"scastCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001ce0","name":"sConfig.Channel","type":5},{"address":"0x20001ce4","name":"sConfig.Rank","type":5},{"address":"0x20001ce8","name":"sConfig.SamplingTime","type":5},{"address":"0x0801c4b8","name":"setBaudrateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c4ac","name":"setBaudrateCommandDefinition.pcCommand","type":5},{"address":"0x0801c4b0","name":"setBaudrateCommandDefinition.pcHelpString","type":5},{"address":"0x0801c4b4","name":"setBaudrateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c468","name":"setCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c45c","name":"setCommandDefinition.pcCommand","type":5},{"address":"0x0801c460","name":"setCommandDefinition.pcHelpString","type":5},{"address":"0x0801c464","name":"setCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c4f8","name":"snipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c4ec","name":"snipCommandDefinition.pcCommand","type":5},{"address":"0x0801c4f0","name":"snipCommandDefinition.pcHelpString","type":5},{"address":"0x0801c4f4","name":"snipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20007248","name":"snippets[0].cmd","type":5},{"address":"0x2000723e","name":"snippets[0].cond.buffer1[0]","type":1},{"address":"0x20007242","name":"snippets[0].cond.buffer2[0]","type":1},{"address":"0x2000723c","name":"snippets[0].cond.conditionType","type":1},{"address":"0x2000723d","name":"snippets[0].cond.mathOperator","type":1},{"address":"0x2000724c","name":"snippets[0].state","type":1},{"address":"0x20001f1c","name":"startMeasurementRanging","type":1},{"address":"0x0801c418","name":"statusCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c40c","name":"statusCommandDefinition.pcCommand","type":5},{"address":"0x0801c410","name":"statusCommandDefinition.pcHelpString","type":5},{"address":"0x0801c414","name":"statusCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001f2c","name":"stream_index","type":1},{"address":"0x20002024","name":"streamDMA[0].ErrorCode","type":5},{"address":"0x20001ff4","name":"streamDMA[0].Init.Direction","type":5},{"address":"0x20002004","name":"streamDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001ffc","name":"streamDMA[0].Init.MemInc","type":5},{"address":"0x20002008","name":"streamDMA[0].Init.Mode","type":5},{"address":"0x20002000","name":"streamDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001ff8","name":"streamDMA[0].Init.PeriphInc","type":5},{"address":"0x2000200c","name":"streamDMA[0].Init.Priority","type":5},{"address":"0x20001ff0","name":"streamDMA[0].Instance","type":5},{"address":"0x20002010","name":"streamDMA[0].Lock","type":2},{"address":"0x20002014","name":"streamDMA[0].Parent","type":5},{"address":"0x20002011","name":"streamDMA[0].State","type":2},{"address":"0x20002018","name":"streamDMA[0].XferCpltCallback","type":5},{"address":"0x20002020","name":"streamDMA[0].XferErrorCallback","type":5},{"address":"0x2000201c","name":"streamDMA[0].XferHalfCpltCallback","type":5},{"address":"0x200000bc","name":"SystemCoreClock","type":5},{"address":"0x20007524","name":"t0","type":5},{"address":"0x0801c558","name":"testportCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c54c","name":"testportCommandDefinition.pcCommand","type":5},{"address":"0x0801c550","name":"testportCommandDefinition.pcHelpString","type":5},{"address":"0x0801c554","name":"testportCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000000","name":"time","type":5},{"address":"0x0801c498","name":"timeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c48c","name":"timeCommandDefinition.pcCommand","type":5},{"address":"0x0801c490","name":"timeCommandDefinition.pcHelpString","type":5},{"address":"0x0801c494","name":"timeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001f16","name":"timedoutMsg","type":3},{"address":"0x20007768","name":"tofBuffer","type":5},{"address":"0x20001f34","name":"ToFHandle","type":5},{"address":"0x200073c8","name":"tofMode","type":1},{"address":"0x20007350","name":"tofModule","type":1},{"address":"0x20007354","name":"tofPeriod","type":5},{"address":"0x2000776c","name":"tofPort","type":1},{"address":"0x200074b0","name":"tofState","type":1},{"address":"0x2000743c","name":"tofTimeout","type":5},{"address":"0x20001d20","name":"totalnumberofrecevedmesg","type":5},{"address":"0x20001d1c","name":"totalnumberoftransmiitedmesg","type":5},{"address":"0x200072e1","name":"twoDMatrixIndex","type":1},{"address":"0x20001614","name":"UARTRxBufIndex[0]","type":1},{"address":"0x200025c8","name":"ucHeap[0]","type":1},{"address":"0x20001ba0","name":"ulClocksPer10thOfAMilliSecond","type":5},{"address":"0x20007088","name":"ulTaskSwitchedInTime","type":5},{"address":"0x00000000","name":"ulTotalRunTime","type":5},{"address":"0x0801c548","name":"unbridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c53c","name":"unbridgeCommandDefinition.pcCommand","type":5},{"address":"0x0801c540","name":"unbridgeCommandDefinition.pcHelpString","type":5},{"address":"0x0801c544","name":"unbridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001ae0","name":"UserTaskHandle","type":5},{"address":"0x0801c4c8","name":"uuidCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c4bc","name":"uuidCommandDefinition.pcCommand","type":5},{"address":"0x0801c4c0","name":"uuidCommandDefinition.pcHelpString","type":5},{"address":"0x0801c4c4","name":"uuidCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20007160","name":"uwTick","type":5},{"address":"0x200000cc","name":"uxCriticalNesting","type":5},{"address":"0x20007010","name":"uxCurrentNumberOfTasks","type":5},{"address":"0x20007098","name":"uxPendedTicks","type":5},{"address":"0x20007090","name":"uxSchedulerSuspended","type":5},{"address":"0x2000707c","name":"uxTaskNumber","type":5},{"address":"0x2000708c","name":"uxTasksDeleted","type":5},{"address":"0x20007080","name":"uxTopReadyPriority","type":5},{"address":"0x20007766","name":"vl53l0x_HandleDevice.comms_speed_khz","type":3},{"address":"0x20007765","name":"vl53l0x_HandleDevice.comms_type","type":1},{"address":"0x20007618","name":"vl53l0x_HandleDevice.Data.CurrentParameters.DeviceMode","type":1},{"address":"0x20007619","name":"vl53l0x_HandleDevice.Data.CurrentParameters.HistogramMode","type":1},{"address":"0x20007620","name":"vl53l0x_HandleDevice.Data.CurrentParameters.InterMeasurementPeriodMilliSeconds","type":5},{"address":"0x20007630","name":"vl53l0x_HandleDevice.Data.CurrentParameters.LimitChecksEnable[0]","type":1},{"address":"0x20007636","name":"vl53l0x_HandleDevice.Data.CurrentParameters.LimitChecksStatus[0]","type":1},{"address":"0x2000763c","name":"vl53l0x_HandleDevice.Data.CurrentParameters.LimitChecksValue[0]","type":5},{"address":"0x2000761c","name":"vl53l0x_HandleDevice.Data.CurrentParameters.MeasurementTimingBudgetMicroSeconds","type":5},{"address":"0x2000762c","name":"vl53l0x_HandleDevice.Data.CurrentParameters.RangeOffsetMicroMeters","type":6},{"address":"0x20007654","name":"vl53l0x_HandleDevice.Data.CurrentParameters.WrapAroundCheckEnable","type":1},{"address":"0x20007624","name":"vl53l0x_HandleDevice.Data.CurrentParameters.XTalkCompensationEnable","type":1},{"address":"0x20007626","name":"vl53l0x_HandleDevice.Data.CurrentParameters.XTalkCompensationRangeMilliMeter","type":3},{"address":"0x20007628","name":"vl53l0x_HandleDevice.Data.CurrentParameters.XTalkCompensationRateMegaCps","type":5},{"address":"0x200076e4","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.FinalRangeTimeoutMicroSecs","type":5},{"address":"0x200076e8","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.FinalRangeVcselPulsePeriod","type":1},{"address":"0x200076e0","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.LastEncodedTimeout","type":3},{"address":"0x200076f9","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.ModuleId","type":1},{"address":"0x200076dc","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.OscFrequencyMHz","type":5},{"address":"0x20007724","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.PartUIDLower","type":5},{"address":"0x20007720","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.PartUIDUpper","type":5},{"address":"0x200076e2","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.Pin0GpioFunctionality","type":1},{"address":"0x200076ec","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.PreRangeTimeoutMicroSecs","type":5},{"address":"0x200076f0","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.PreRangeVcselPulsePeriod","type":1},{"address":"0x200076fb","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.ProductId[0]","type":2},{"address":"0x200076f8","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.ReadDataFromDeviceDone","type":1},{"address":"0x2000771b","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.ReferenceSpadCount","type":1},{"address":"0x2000771c","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.ReferenceSpadType","type":1},{"address":"0x2000771d","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.RefSpadsInitialised","type":1},{"address":"0x200076fa","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.Revision","type":1},{"address":"0x200076f6","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.SigmaEstEffAmbWidth","type":3},{"address":"0x200076f4","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.SigmaEstEffPulseWidth","type":3},{"address":"0x200076f2","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.SigmaEstRefArray","type":3},{"address":"0x20007728","name":"vl53l0x_HandleDevice.Data.DeviceSpecificParameters.SignalRateMeasFixed400mm","type":5},{"address":"0x2000775c","name":"vl53l0x_HandleDevice.Data.DmaxCalRangeMilliMeter","type":3},{"address":"0x20007760","name":"vl53l0x_HandleDevice.Data.DmaxCalSignalRateRtnMegaCps","type":5},{"address":"0x20007608","name":"vl53l0x_HandleDevice.Data.DMaxData.AmbTuningWindowFactor_K","type":6},{"address":"0x2000760c","name":"vl53l0x_HandleDevice.Data.DMaxData.RetSignalAt0mm","type":6},{"address":"0x200076d6","name":"vl53l0x_HandleDevice.Data.LastHistogramMeasure.BufferSize","type":1},{"address":"0x200076d8","name":"vl53l0x_HandleDevice.Data.LastHistogramMeasure.ErrorStatus","type":1},{"address":"0x200076d5","name":"vl53l0x_HandleDevice.Data.LastHistogramMeasure.FirstBin","type":1},{"address":"0x20007674","name":"vl53l0x_HandleDevice.Data.LastHistogramMeasure.HistogramData[0]","type":5},{"address":"0x200076d4","name":"vl53l0x_HandleDevice.Data.LastHistogramMeasure.HistogramType","type":1},{"address":"0x200076d7","name":"vl53l0x_HandleDevice.Data.LastHistogramMeasure.NumberOfBins","type":1},{"address":"0x20007668","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.AmbientRateRtnMegaCps","type":5},{"address":"0x2000766c","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.EffectiveSpadRtnCount","type":3},{"address":"0x2000765c","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.MeasurementTimeUsec","type":5},{"address":"0x20007662","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.RangeDMaxMilliMeter","type":3},{"address":"0x2000766f","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.RangeFractionalPart","type":1},{"address":"0x20007660","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.RangeMilliMeter","type":3},{"address":"0x20007670","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.RangeStatus","type":1},{"address":"0x20007664","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.SignalRateRtnMegaCps","type":5},{"address":"0x20007658","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.TimeStamp","type":5},{"address":"0x2000766e","name":"vl53l0x_HandleDevice.Data.LastRangeMeasure.ZoneId","type":1},{"address":"0x20007750","name":"vl53l0x_HandleDevice.Data.LastSignalRefMcps","type":5},{"address":"0x2000775a","name":"vl53l0x_HandleDevice.Data.LinearityCorrectiveGain","type":3},{"address":"0x2000773a","name":"vl53l0x_HandleDevice.Data.PalState","type":1},{"address":"0x20007614","name":"vl53l0x_HandleDevice.Data.Part2PartOffsetAdjustmentNVMMicroMeter","type":6},{"address":"0x20007610","name":"vl53l0x_HandleDevice.Data.Part2PartOffsetNVMMicroMeter","type":6},{"address":"0x2000773b","name":"vl53l0x_HandleDevice.Data.PowerMode","type":1},{"address":"0x20007754","name":"vl53l0x_HandleDevice.Data.pTuningSettingsPointer","type":5},{"address":"0x20007739","name":"vl53l0x_HandleDevice.Data.RangeFractionalEnable","type":1},{"address":"0x20007738","name":"vl53l0x_HandleDevice.Data.SequenceConfig","type":1},{"address":"0x20007740","name":"vl53l0x_HandleDevice.Data.SigmaEstEffAmbWidth","type":3},{"address":"0x2000773e","name":"vl53l0x_HandleDevice.Data.SigmaEstEffPulseWidth","type":3},{"address":"0x20007748","name":"vl53l0x_HandleDevice.Data.SigmaEstimate","type":5},{"address":"0x2000773c","name":"vl53l0x_HandleDevice.Data.SigmaEstRefArray","type":3},{"address":"0x2000774c","name":"vl53l0x_HandleDevice.Data.SignalEstimate","type":5},{"address":"0x20007732","name":"vl53l0x_HandleDevice.Data.SpadData.RefGoodSpadMap[0]","type":1},{"address":"0x2000772c","name":"vl53l0x_HandleDevice.Data.SpadData.RefSpadEnables[0]","type":1},{"address":"0x20007742","name":"vl53l0x_HandleDevice.Data.StopVariable","type":1},{"address":"0x20007744","name":"vl53l0x_HandleDevice.Data.targetRefRate","type":3},{"address":"0x20007758","name":"vl53l0x_HandleDevice.Data.UseInternalTuningSettings","type":1},{"address":"0x20007764","name":"vl53l0x_HandleDevice.I2cDevAddr","type":1},{"address":"0x0801c8fc","name":"Vl53l0xMaxCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c8f0","name":"Vl53l0xMaxCommandDefinition.pcCommand","type":5},{"address":"0x0801c8f4","name":"Vl53l0xMaxCommandDefinition.pcHelpString","type":5},{"address":"0x0801c8f8","name":"Vl53l0xMaxCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c8bc","name":"Vl53l0xSampleCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c8b0","name":"Vl53l0xSampleCommandDefinition.pcCommand","type":5},{"address":"0x0801c8b4","name":"Vl53l0xSampleCommandDefinition.pcHelpString","type":5},{"address":"0x0801c8b8","name":"Vl53l0xSampleCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c8dc","name":"Vl53l0xStopCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c8d0","name":"Vl53l0xStopCommandDefinition.pcCommand","type":5},{"address":"0x0801c8d4","name":"Vl53l0xStopCommandDefinition.pcHelpString","type":5},{"address":"0x0801c8d8","name":"Vl53l0xStopCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c8cc","name":"Vl53l0xStreamCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c8c0","name":"Vl53l0xStreamCommandDefinition.pcCommand","type":5},{"address":"0x0801c8c4","name":"Vl53l0xStreamCommandDefinition.pcHelpString","type":5},{"address":"0x0801c8c8","name":"Vl53l0xStreamCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c8ec","name":"Vl53l0xUnitsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801c8e0","name":"Vl53l0xUnitsCommandDefinition.pcCommand","type":5},{"address":"0x0801c8e4","name":"Vl53l0xUnitsCommandDefinition.pcHelpString","type":5},{"address":"0x0801c8e8","name":"Vl53l0xUnitsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801c24c","name":"weekdayString[0]","type":5},{"address":"0x20007130","name":"xActiveTimerList1.pxIndex","type":5},{"address":"0x2000712c","name":"xActiveTimerList1.uxNumberOfItems","type":5},{"address":"0x20007138","name":"xActiveTimerList1.xListEnd.pxNext","type":5},{"address":"0x2000713c","name":"xActiveTimerList1.xListEnd.pxPrevious","type":5},{"address":"0x20007134","name":"xActiveTimerList1.xListEnd.xItemValue","type":5},{"address":"0x20007144","name":"xActiveTimerList2.pxIndex","type":5},{"address":"0x20007140","name":"xActiveTimerList2.uxNumberOfItems","type":5},{"address":"0x2000714c","name":"xActiveTimerList2.xListEnd.pxNext","type":5},{"address":"0x20007150","name":"xActiveTimerList2.xListEnd.pxPrevious","type":5},{"address":"0x20007148","name":"xActiveTimerList2.xListEnd.xItemValue","type":5},{"address":"0x200025bc","name":"xBlockAllocatedBit","type":5},{"address":"0x20001ae4","name":"xCommandConsoleTaskHandle","type":5},{"address":"0x20007018","name":"xDelayedTaskList1.pxIndex","type":5},{"address":"0x20007014","name":"xDelayedTaskList1.uxNumberOfItems","type":5},{"address":"0x20007020","name":"xDelayedTaskList1.xListEnd.pxNext","type":5},{"address":"0x20007024","name":"xDelayedTaskList1.xListEnd.pxPrevious","type":5},{"address":"0x2000701c","name":"xDelayedTaskList1.xListEnd.xItemValue","type":5},{"address":"0x2000702c","name":"xDelayedTaskList2.pxIndex","type":5},{"address":"0x20007028","name":"xDelayedTaskList2.uxNumberOfItems","type":5},{"address":"0x20007034","name":"xDelayedTaskList2.xListEnd.pxNext","type":5},{"address":"0x20007038","name":"xDelayedTaskList2.xListEnd.pxPrevious","type":5},{"address":"0x20007030","name":"xDelayedTaskList2.xListEnd.xItemValue","type":5},{"address":"0x200025c4","name":"xFreeBytesRemaining","type":5},{"address":"0x00000000","name":"xHeapStructSize","type":5},{"address":"0x0801c934","name":"xHelpCommand.cExpectedNumberOfParameters","type":2},{"address":"0x0801c928","name":"xHelpCommand.pcCommand","type":5},{"address":"0x0801c92c","name":"xHelpCommand.pcHelpString","type":5},{"address":"0x0801c930","name":"xHelpCommand.pxCommandInterpreter","type":5},{"address":"0x200025c0","name":"xMinimumEverFreeBytesRemaining","type":5},{"address":"0x200000d0","name":"xNextTaskUnblockTime","type":5},{"address":"0x20007094","name":"xNumOfOverflows","type":6},{"address":"0x20007040","name":"xPendingReadyList.pxIndex","type":5},{"address":"0x2000703c","name":"xPendingReadyList.uxNumberOfItems","type":5},{"address":"0x20007048","name":"xPendingReadyList.xListEnd.pxNext","type":5},{"address":"0x2000704c","name":"xPendingReadyList.xListEnd.pxPrevious","type":5},{"address":"0x20007044","name":"xPendingReadyList.xListEnd.xItemValue","type":5},{"address":"0x2000789c","name":"xQueueRegistry[0].pcQueueName","type":5},{"address":"0x200078a0","name":"xQueueRegistry[0].xHandle","type":5},{"address":"0x200000c4","name":"xRegisteredCommands.pxCommandLineDefinition","type":5},{"address":"0x200000c8","name":"xRegisteredCommands.pxNext","type":5},{"address":"0x20007078","name":"xSchedulerRunning","type":6},{"address":"0x200025b0","name":"xStart.pxNextFreeBlock","type":5},{"address":"0x200025b4","name":"xStart.xBlockSize","type":5},{"address":"0x20007068","name":"xSuspendedTaskList.pxIndex","type":5},{"address":"0x20007064","name":"xSuspendedTaskList.uxNumberOfItems","type":5},{"address":"0x20007070","name":"xSuspendedTaskList.xListEnd.pxNext","type":5},{"address":"0x20007074","name":"xSuspendedTaskList.xListEnd.pxPrevious","type":5},{"address":"0x2000706c","name":"xSuspendedTaskList.xListEnd.xItemValue","type":5},{"address":"0x20007054","name":"xTasksWaitingTermination.pxIndex","type":5},{"address":"0x20007050","name":"xTasksWaitingTermination.uxNumberOfItems","type":5},{"address":"0x2000705c","name":"xTasksWaitingTermination.xListEnd.pxNext","type":5},{"address":"0x20007060","name":"xTasksWaitingTermination.xListEnd.pxPrevious","type":5},{"address":"0x20007058","name":"xTasksWaitingTermination.xListEnd.xItemValue","type":5},{"address":"0x20007008","name":"xTickCount","type":5},{"address":"0x20007128","name":"xTimerQueue","type":5},{"address":"0x20001f20","name":"xTimerTof","type":5},{"address":"0x20007084","name":"xYieldPending","type":6}],"expand":false,"filename":"H08R6x.elf","exeModifiedTime":1633026066552,"configLastUpdate":1633037999102},{"id":"54f270da.54e78","type":"ui_tab","z":"","name":"IR sensor","icon":"dashboard","disabled":false,"hidden":false}]